{% extends 'main/layout.html' %}

{% block title%}Про нас{% endblock%}

{% block content%}
<div class="features">
    <h1>О нас</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in risus at magna faucibus aliquam non id erat.
        Curabitur vitae ante tincidunt, imperdiet erat eu, congue urna. Vivamus volutpat iaculis porttitor. Aliquam non
        nunc quam. Aenean varius ex in interdum bibendum. Sed euismod laoreet leo, vel luctus odio lacinia ut. Nam
        cursus orci at imperdiet tincidunt.

        Proin ultricies felis urna, in efficitur enim bibendum non. Nunc eget nisi sem. Donec semper dictum mauris.
        Etiam sagittis blandit purus vel euismod. Pellentesque auctor blandit metus, vitae tristique tortor mollis eget.
        Sed nec magna quis nunc venenatis porttitor at id metus. Vestibulum aliquam ante risus, nec tincidunt felis
        porta a.</p>
    <button class="btn btn-warning">Регистрация</button>
</div>
{% endblock%}