{% extends 'main/layout.html' %}

{% block title%}Главная страница{% endblock %}

{% block content%}
<div class="features">
    <h1>{{ title }}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in risus at magna faucibus aliquam non id erat.
        Curabitur vitae ante tincidunt, imperdiet erat eu, congue urna. Vivamus volutpat iaculis porttitor. Aliquam non
        nunc quam. Aenean varius ex in interdum bibendum. Sed euismod laoreet leo, vel luctus odio lacinia ut. Nam
        cursus orci at imperdiet tincidunt.

        Proin ultricies felis urna, in efficitur enim bibendum non. Nunc eget nisi sem. Donec semper dictum mauris.
        Etiam sagittis blandit purus vel euismod. Pellentesque auctor blandit metus, vitae tristique tortor mollis eget.
        Sed nec magna quis nunc venenatis porttitor at id metus. Vestibulum aliquam ante risus, nec tincidunt felis
        porta a.

        Ut vitae pellentesque libero. Proin elit nisl, ultricies ac molestie et, finibus sit amet dui. Aenean vitae
        posuere mauris. Integer malesuada et massa vitae imperdiet. Vivamus aliquam tincidunt velit ut dictum. Duis
        metus tortor, faucibus sed tellus eu, vehicula semper dolor. Etiam et suscipit ligula. Suspendisse nec mollis
        augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec feugiat
        urna at ipsum luctus viverra. Maecenas at maximus lacus, sed pretium dolor. Nulla tempus tincidunt urna interdum
        tempor. Praesent cursus, metus sit amet feugiat pulvinar, lacus nunc euismod sem, id volutpat magna ligula non
        nisl. Cras iaculis, elit ut aliquet fringilla, libero justo posuere sapien, vitae bibendum enim leo a risus. Sed
        quis enim diam. Etiam ut urna vitae turpis dapibus mattis.

        Ut vitae est sed purus ornare ornare et nec est. Donec condimentum non risus vitae malesuada. Aenean auctor urna
        sit amet orci posuere interdum. Cras id molestie ante. Pellentesque nec est vel metus fermentum feugiat ac sed
        metus. Nulla id dapibus diam. Mauris eget viverra arcu. Vivamus porttitor tortor quis odio tristique scelerisque
        non eu nisi. Aenean lobortis interdum enim, eget scelerisque est hendrerit mattis. Morbi sed felis at sapien
        dignissim tempor.

        Quisque aliquam consequat iaculis. Maecenas tellus ante, ullamcorper ut urna vitae, dictum tristique arcu. Cras
        id vestibulum magna, quis accumsan massa. Quisque convallis aliquet ex vel posuere. Quisque finibus ipsum non
        semper blandit. Mauris ullamcorper vehicula nisi ac viverra. Sed a interdum elit. Aliquam sit amet dui a ligula
        elementum interdum. Sed purus justo, interdum vel diam vel, mollis blandit magna. Ut et neque et nulla
        ullamcorper semper. Donec pharetra pulvinar vestibulum.</p>


</div>
{% endblock %}